@model ItemRequest
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-default card-outline">
                <div class="card-header">
                    <h3 class="card-title brand-text font-weight-light">
                        <i class="fas fa-table mr-1"></i>
                            <b>List</b> My Prices 
                    </h3>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="table-responsive" style="height: 500px;">
                            <table class="table table-hover dtr-inline table-head-fixed" id="datatables">
                                <thead>
                                    <tr>
                                        <th style="width: 25%;"><h3 class="card-title brand-text font-weight-light"><b>Item</b></h3></th>
                                        <th style="width: 5%;"><h3 class="card-title brand-text font-weight-light"><b>UOM</b></h3></th>
                                        <th style="width: 5%;"><h3 class="card-title brand-text font-weight-light"><b>Qty</b></h3></th>
                                        <th style="width: 3%;"><h3 class="card-title brand-text font-weight-light"><b>Currency</b></h3></th>
                                        <th style="width: 10%;"><h3 class="card-title brand-text font-weight-light"><b>My Price</b></h3></th>
                                        <th style="width: 10%;"><h3 class="card-title brand-text font-weight-light"><b>Delivery Date</b></h3></th>
                                        <th style="width: 15%;"><h3 class="card-title brand-text font-weight-light"><b>Remark</b></h3></th>
                                        <th style="width: 2%;"><h3 class="card-title brand-text font-weight-light"><b>Images</b></h3></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(Model.data != null){
                                        int a = 0; 
                                        @foreach (var item in Model.data)
                                        {
                                            var qnty2 = item.Qnty.ToString();
                                            var qtyrt2 = item.QtyRt.ToString();
                                            var harga2 = item.Harga.ToString();

                                            @* var qnty2 = qnty.Replace(".", ",");
                                            var qtyrt2 = qtyrt.Replace(".", ",");
                                            var harga2 = harga.Replace(".", ","); *@
                                            var image = item.ItemID+".jpg";
                                            <tr id='@item.ItemID'>                                            
                                                <td>
                                                    @item.ItemName<br>
                                                    @item.ItemDesc
                                                </td>
                                                <td>@item.UOMName</td>

                                                @if (qnty2.Substring(qnty2.Length - 3) == ".00"){
                                                    <td style="text-align: right;" class="autonum_nondecimal">@qnty2</td>
                                                } else{
                                                    <td style="text-align: right;" class="autonum_price">@qnty2</td>
                                                }

                                                <td style="text-align: center;">@item.Currency</td>
                                                
                                                @if (harga2.Substring(harga2.Length - 3) == ".00"){
                                                         <td style="text-align: right;" class="autonum_nondecimal">@harga2</td>
                                                } else{
                                                        <td style="text-align: right;" class="autonum_price">@harga2</td>
                                                }

                                                <td style="text-align: center;">@if(@item.DeliveryDate != null) {@item.DeliveryDate.Value.ToString("dd-MM-yyyy")}</td>
                                                <td>@item.Remark</td>
                                                <td style="text-align: center;"><a href="~/ItemImage/@image" data-toggle="lightbox" class="btn btn-success btn-icon btn-circle btn-sm"><i class="fa fa-eye"></i></a></td>
                                            </tr>  
                                            a++;   
                                        }
                                    }
                                </tbody>
                            </table>
                            <a href="DownloadMyPrice?prd=@ViewBag.Prd" class="btn bg-gradient-danger btn-sm"><i class="far fa-file-pdf mr-1"></i>Download PDF</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  


<!-- ================================================ modul supplier ================================================== -->
<script type="text/javascript">
    $(function () {
        $('#datatables').DataTable({
            "paging": false
        });

        $('.autonum_price').autoNumeric('init', {
            mDec: 2,
            aDec: '.',
            aSep: ','
        });

        $('.autonum_nondecimal').autoNumeric('init', {
            mDec: 0,
            aDec: '.',
            aSep: ','
        });
    })
</script>