@model ItemRequest
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1 class="m-0 text-dark"> Transaction Supplier <small>Input Price New Items</small></h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Transaction Supplier</a></li>
            @* <li class="breadcrumb-item"><a href="#">Input Price</a></li> *@
            <li class="breadcrumb-item active">Input Price My Item</li>
        </ol>
        </div><!-- /.col -->
    </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title brand-text font-weight-light">
                            <i class="fas fa-table mr-1"></i>
                                <b>List</b> New Items 
                        </h3>
                    </div>
                    <div id="isidetail">
                        <div class="card-body">
                            <div class="col-md-12">
                                <div class="table-responsive" style="height: 500px;">
                                    <table class="table table-hover dtr-inline table-head-fixed" id="datatables">
                                        <thead>
                                            <tr>
                                                <th style="width: 15%;"><h3 class="card-title brand-text font-weight-light"><b>Item</b></h3></th>
                                                <th style="width: 3%;"><h3 class="card-title brand-text font-weight-light"><b>Factory</b></h3></th>
                                                <th style="width: 3%;"><h3 class="card-title brand-text font-weight-light"><b>UOM</b></h3></th>
                                                <th style="width: 3%;"><h3 class="card-title brand-text font-weight-light"><b>Qty</b></h3></th>
                                                @* <th style="width: 7%;"><h3 class="card-title brand-text font-weight-light"><b>Usage / Year</b></h3></th> *@
                                                <th style="width: 3%;"><h3 class="card-title brand-text font-weight-light"><b>Currency</b></h3></th>
                                                <th style="width: 7%;"><h3 class="card-title brand-text font-weight-light"><b>My Price</b></h3></th>
                                                <th style="width: 7%;"><h3 class="card-title brand-text font-weight-light"><b>Valid Until</b></h3></th>
                                                <th style="width: 2%;"><h3 class="card-title brand-text font-weight-light"><b>Images</b></h3></th>
                                                <th style="width: 5%;"><h3 class="card-title brand-text font-weight-light"><b>File</b></h3></th>
                                                <th style="width: 7%;"><h3 class="card-title brand-text font-weight-light"><b>Action</b></h3></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if(Model.data != null){
                                                @foreach (var item in Model.data)
                                                {
                                                    var qnty2 = item.Qnty.ToString();
                                                    var qtyrt2 = item.QtyRt.ToString();
                                                    var harga2 = item.Harga.ToString();

                                                    @* var qnty2 = qnty.Replace(".", ",");
                                                    var qtyrt2 = qtyrt.Replace(".", ",");
                                                    var harga2 = harga.Replace(".", ","); *@
                                                    var image = item.NewItemID+".jpg";
                                                    <tr id='@item.ItemID'>                                            
                                                        <td>
                                                            @item.ItemName<br>
                                                            @item.ItemDesc
                                                        </td>
                                                        <td>@item.Factory</td>
                                                        <td>@item.UOMName</td>
                                                        
                                                        @if (qnty2.Substring(qnty2.Length - 3) == ".00"){
                                                            <td style="text-align: right;" class="autonum_nondecimal">@qnty2</td>
                                                        } else{
                                                            <td style="text-align: right;" class="autonum_price">@qnty2</td>
                                                        }

                                                        @* <td style="text-align: right;" class="autonum_price">@qtyrt2</td> *@
                                                        <td style="text-align: center;">@item.Currency</td>

                                                        @if (harga2.Substring(harga2.Length - 3) == ".00"){
                                                            <td style="text-align: right;" class="autonum_nondecimal">@if(@item.Harga != 0) {@harga2}</td>
                                                        } else{
                                                            <td style="text-align: right;" class="autonum_price">@if(@item.Harga != 0) {@harga2}</td>
                                                        }

                                                        <td style="text-align: center;">@if(@item.ValidUntil != null) {@item.ValidUntil.Value.ToString("dd-MM-yyyy")}</td>
                                                        <td style="text-align: center;"><a href="~/ItemImage/@image" data-toggle="lightbox" class="btn btn-success btn-icon btn-circle btn-sm"><i class="fa fa-eye"></i></a></td>
                                                        <td style="text-align: center;">
                                                            @{
                                                                if(@item.FileName != null){
                                                                    <a href="DownloadFile?filename=@item.FileName" class="btn bg-gradient-danger btn-xs" title="@item.FileName"><i class="far fa-file-pdf mr-1"></i>Download</a>
                                                                }
                                                            }
                                                        </td>
                                                        <td style="text-align: center;">
                                                            @{
                                                                if(@item.Harga == 0){
                                                                    <button type="button" class="btn bg-gradient-primary btn-sm" data-toggle="modal" data-target="#modal-lg5" onclick="isidetail('@item.ItemID', '@item.ItemName', '@item.ItemDesc', '@item.UOMName' ,'@qnty2', '@qtyrt2', '@item.NewItemID', '@item.Factory')"><i class="fas fa-usd mr-1"></i>Add Price</button>
                                                                } 
                                                                else{
                                                                    <button type="button" class="btn bg-gradient-success btn-sm" data-toggle="modal" data-target="#modal-lg52" onclick="isidetail52('@item.ItemID', '@item.ItemName', '@item.ItemDesc', '@item.UOMName' ,'@qnty2', '@item.IDInput', '@harga2', '@item.Remark', '@item.NewItemID', '@item.Factory')"><i class="fas fa-usd mr-1"></i>Update Price</button>
                                                                }
                                                            }
                                                            
                                                        </td>
                                                    </tr>  
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    @* <a href="DownloadMyProductItem?pages=@CurrentPage" class="btn bg-gradient-danger btn-sm"><i class="far fa-file-pdf mr-1"></i>Download PDF</a> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  


<!-- ================================================ modul supplier ================================================== -->
<script type="text/javascript">
    $(function () {
        $('#datatables').DataTable({
            "paging": false
        });

        $('.autonum_price').autoNumeric('init', {
            mDec: 2,
            aDec: '.',
            aSep: ','
        });

        $('.autonum_nondecimal').autoNumeric('init', {
            mDec: 0,
            aDec: '.',
            aSep: ','
        });
    })
</script>

<partial name="_js.cshtml">
<partial name="_modal5.cshtml">
<partial name="_modal52.cshtml">