@model ItemSupplier
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1 class="m-0 text-dark"> Master <small>My Item</small></h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Master</a></li>
            @* <li class="breadcrumb-item"><a href="#">Input Price</a></li> *@
            <li class="breadcrumb-item active">My Item</li>
        </ol>
        </div><!-- /.col -->
    </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title brand-text font-weight-light">
                            <i class="fas fa-table mr-1"></i>
                                <b>List</b> My Item 
                        </h3>
                        <button type="button" class="btn bg-gradient-primary btn-sm" data-toggle="modal" data-target="#modal-xl" style="float: right;"><i class="fas fa-plus mr-1"></i>Add Item</button>
                    </div>
                    @* <div class="card-body">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label"><h3 class="card-title brand-text font-weight-light"><b>Item Name</b></h3></label>
                                <div class="col-8">
                                    <input type="text" class="form-control" name="itemName" id="itemName" placeholder="">
                                </div>
                                <div>
                                    <button type="button" class="btn btn-block bg-gradient-primary" id="search" onclick="getitemopenprice()"><i class="fa fa-search mr-1"></i>Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr> *@
                    <div id="isidetail">
                        <div class="card-body">
                            <div class="col-md-12">
                                <div class="table-responsive" style="height: 500px;">
                                    @* <input type="text" class="form-control" name="pages" id="pages" value="1"> *@
                                    <table class="table table-hover dtr-inline table-head-fixed" id="datatables">
                                        <thead>
                                            <tr>
                                                <th style="width: 25%;"><h3 class="card-title brand-text font-weight-light"><b>Item Name</b></h3></th>
                                                <th style="width: 25%;"><h3 class="card-title brand-text font-weight-light"><b>Item Description</b></h3></th>
                                                <th style="width: 2%;"><h3 class="card-title brand-text font-weight-light"><b>Images</b></h3></th>
                                                <th style="width: 3%;"><h3 class="card-title brand-text font-weight-light"><b>Action</b></h3></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if(Model.data != null){
                                                @foreach (var item in Model.data)
                                                {
                                                    var image = item.ItemID+".jpg";
                                                    <tr>                                            
                                                        <td>@item.ItemName</td> 
                                                        <td>@item.ItemDesc</td>
                                                        <td style="text-align: center;"><a href="~/ItemImage/@image" data-toggle="lightbox" class="btn btn-success btn-icon btn-circle btn-sm"><i class="fa fa-eye"></i></a></td>                                                  
                                                        <td style="text-align: center;">
                                                            <button type="button" class="btn bg-gradient-danger btn-sm" onclick="removeItem(this, '@item.ItemID', '@item.NewItemID')"><i class="far fa-trash-alt mr-1"></i>Remove</button>
                                                        </td>
                                                    </tr> 
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        @{
                            var CountPage = Math.Ceiling(ViewBag.CountPage / 500);
                            var CurrentPage = ViewBag.CurrentPage;
                            var disPrev = "";
                            var disNext = "";
                            var fontWeightPrev = "";
                            var fontWeightNext = "normal";
                            var prevPage = CurrentPage - 1;
                            var nextPage = CurrentPage + 1;
                            if (CurrentPage == 1)
                            {
                                disPrev = "disabled";
                                fontWeightPrev = "bold";
                            }
                            if (CurrentPage == CountPage)
                            {
                                disNext = "disabled";
                                fontWeightNext = "bold";
                            }
                        }
                        <div class="card-footer clearfix">
                            <div class="pagination pagination-sm m-0 float-left">Page @CurrentPage of @CountPage</div>
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><button type="button" class="page-link" onclick="pagesMyItem(@prevPage)" @disPrev style="font-weight: @fontWeightPrev;">&laquo; Previous</button></li>
                                @for(int i = 1; i <= @CountPage ; i++)
                                {
                                    var disCur = "";
                                    var fontWeightCur = "normal";
                                    if (CurrentPage == i)
                                    {
                                        disCur = "disabled";
                                        fontWeightCur = "bold";
                                    }
                                    <li class="page-item"><button type="button" class="page-link" onclick="pagesMyItem(@i)" @disCur style="font-weight: @fontWeightCur;">@i</button></li>
                                }
                                <li class="page-item"><button type="button" class="page-link" onclick="pagesMyItem(@nextPage)" @disNext style="font-weight: @fontWeightNext;">Next &raquo;</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  


<!-- ================================================ modul supplier ================================================== -->
<script type="text/javascript">
    $(function () {
        $('#datatables').DataTable({
            "paging": false
        });
    })
</script>

<partial name="_js.cshtml">
<partial name="_modal.cshtml">